@charset "utf-8";
/* CSS Document SW MEDIA*/

#flux-BE{display: block; background-color:#FCFCFC; margin: 0px; width:100%; font-size: 12px; font-family: Roboto, Arial, sans serif; border:1px solid #666; }
#flux-BE h3{color: #FFF;margin: 0px; background-color: #5F8CB8 ; padding:5px; display: flex; align-items: center;}
#flux-BE h3::before{content: url('logo_BE.png');padding-right:20px;}
#flux-BE .container-flux-BE {padding:10px;}
#flux-BE .container-flux-BE div {padding: 5px 0px; border-bottom: dashed 1px #666;}
#flux-BE .container-flux-BE div a {display: block; text-decoration: none; color:#666; padding-left:5px;}
#flux-BE .container-flux-BE div a:hover {border-left: 2px solid #33A4CB; padding-left:3px; color:#33A4CB;}
#flux-BE .container-flux-BE a.readmore-BE {display:block; text-align:right; margin-top: 10px; color:#5F8CB8; font-weight:bold; text-decoration:none;}
#flux-BE .container-flux-BE a.readmore-BE::after {content:" >>";}
#flux-BE .container-flux-BE a.readmore-BE:hover {text-decoration:underline;}